<div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>
  
  <div class="container">
    <p class="bg-light border border-secondary">
    <p class="bg-light border mt-2">
      <p class="bg-light border border-secondary">
          <p class="text-danger">BIENVENUE CHEZ CAROXAAKI</p>
<br>
<p class="text-secondary">Voici alors mon travail et je veux vos commentaires!</p>
<br>
<p class="text-secondary">Quel est mon objectif?
  <p class="text-primary">c'est juste pour ameliorer avec bootstrap</p>
<br>
<p class="text-secondary">Appuyez d'abord sur le bouton

  <div class="container">
    <p class="bg-light border-left mt-2"><div class="bg-warning">'OK'</div>

  <p class="text-secondary">vous verrez la suite  .........
     completez ce formulaire.
     Puis, cliquez sur valider pour voir ce qui se passe </p>
<br>
<p class="text-danger">Ne bouge pas sans me dire ce que je dois ameliorer SVP!</p>


<div class="container">
  <h1></h1>
  <button type="button"
   class="btn btn-warning mb-2"><button routerLink="/metting" class="btn">OK</button></button>
<br>
   <div class="container">
    <p class="bg-light border border-secondary">
    <p class="bg-light border mt-2">
      <p class="bg-light border border-secondary">

  </div>

</div>
      </div>
            </div>



</body>
</html></div> 